fastapi
uvicorn
python-multipart
pymupdf
python-docx
openai
sentence-transformers
faiss-cpu
chromadb
langchain
numpy
google-generativeai
python-dotenv
streamlit
requests
rank-bm25
pandas
streamlit-mic-recorder
emoji
